@model Teste.Dominio.Models.Turma;


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Atualizar Turma</h4>
                        <p class="card-category">Informe os dados e clique em salvar.</p>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <input type="hidden" asp-for="Id" />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Escola:</label>
                                        <input asp-for="EscolaTurma.Nome" type="text" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Descrição</label>
                                        <input asp-for="Descricao" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Descrição</label>
                                        <input asp-for="Serie" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Descrição</label>
                                        <input asp-for="Turno" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <a asp-controller="Escola" asp-action="Escola" class="btn btn-dark">
                                <i class="material-icons">arrow_back</i> Voltar
                            </a>

                            <button type="submit" class="btn btn-info pull-right">
                                <i class="material-icons">save</i> Salvar
                            </button>

                            <a asp-controller="Escola" asp-action="Deletar" asp-route-id="@Model.Id" class="btn btn-danger pull-right">
                                <i class="material-icons">delete_forever</i> Deletar
                            </a>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
